<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/mdbootstrap/css/mdb.css" rel="stylesheet" />
    <link href="~/Content/materialize/css/materialize.css" rel="stylesheet" />
    <link href="~/Content/jqueryui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/fontawesome.css" rel="stylesheet" />
   

    <style>

        .phoneFormat {
            font-family: 'Comic Sans MS',Calibri,Arial;
            font-weight: bold;
        }

        .nextForm {
            float: right !important;
            background-color: purple;
        }

        .previousForm {
            float: left !important;
           background-color:purple;
        }

        .saveForm {
            float: right !important;
        }
        .dateFormat {
        }

        .ssnmask {
        }

        fieldset {
            display: none;
        }

      
        .md-form label {
            font-size: .8rem;
            color: #007bff
        }

        .md-form .form-control {
            padding-bottom: 0rem;
        }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/inputmask")
    <script src="~/Content/mdbootstrap/js/mdb.js"></script>
    <script src="~/Content/materialize/js/materialize.js"></script>
    <script src="~/Scripts/inputmask/inputmask.js"></script>
    @*<script src="~/Content/jqueryui/jquery-ui.js"></script>*@
    <script src="~/Content/font-awesome/js/fontawesome.js"></script>
    <script src="~/Content/font-awesome/js/solid.js"></script>
    <script src="~/appjs/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
